Repository alvincrespo/glypto, changes with the labels that .github/labeler.yml gives for each.
All labels: code, tests, documentation, ci, config, dependencies, providers

fix linting errors
  package.json
  test/factory.test.ts
Labels: tests, ci, dependencies

fix more formatting issues
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  package.json
  src/exports.ts
  src/factory.ts
  src/index.ts
  src/metadata.ts
  src/provider-loader.ts
  src/provider-registry.ts
  src/providers/json-ld-provider.ts
  src/providers/open-graph-provider.ts
  src/providers/other-elements-provider.ts
  src/providers/standard-meta-provider.ts
  src/providers/twitter-provider.ts
  src/scraper.ts
  src/types.ts
  test/factory.test.ts
  test/json-ld-provider.test.ts
  test/metadata.test.ts
  test/open-graph-provider.test.ts
  test/other-elements-provider.test.ts
  test/provider-loader.test.ts
  test/provider-registry.test.ts
  test/scraper.test.ts
  test/setup.ts
  test/standard-meta-provider.test.ts
  test/twitter-provider.test.ts
  tsconfig.json
Labels: code, tests, documentation, ci, config, dependencies, providers

fix depcheck
  .github/workflows/ci.yml
Labels: ci

use upload-artifact
  .github/workflows/ci.yml
Labels: ci

remove codeql
  .github/workflows/codeql.yml
Labels: ci

update github_token env var
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
Labels: ci

fix gh token
  .github/workflows/labeler.yml
Labels: ci

stuff
  .github/workflows/labeler.yml
Labels: ci

fix stuff
  .github/workflows/labeler.yml
Labels: ci

.github/labeler.yml:

# Configuration for automatic labeling of pull requests

# Source code changes
"code":
  - "src/**/*.ts"

# Test changes
"tests":
  - "test/**/*.ts"
  - "**/*.test.ts"
  - "**/*.spec.ts"

# Documentation changes  
"documentation":
  - "README.md"
  - "docs/**/*"
  - "*.md"

# CI/CD changes
"ci":
  - ".github/**/*"
  - "package.json"
  - "package-lock.json"

# Configuration changes
"config":
  - "tsconfig.json"
  - "eslint.config.js"
  - "vitest.config.ts"
  - ".gitignore"

# Dependencies
"dependencies":
  - "package.json"
  - "package-lock.json"

# Provider related changes
"providers":
  - "src/providers/**/*"
  - "test/*provider*.ts"
